absl-py==0.7.1
aniso8601==6.0.0
asn1crypto==0.24.0
astor==0.7.1
attrs==19.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.6.1
Cython==0.28.5
dataclasses==0.7
DAWG-Python==0.7.2
deeppavlov==0.1.6
docopt==0.6.2
fastapi==0.38.1
flasgger==0.9.1
Flask==1.1.1
Flask-Cors==3.0.6
Flask-Login==0.4.1
Flask-RESTful==0.3.7
fuzzywuzzy==0.16.0
gast==0.2.2
google-pasta==0.1.8
grpcio==1.19.0
h11==0.8.1
h5py==2.8.0
httptools==0.0.13
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.14.0
jsonschema==3.0.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1
MarkupSafe==1.1.1
mistune==0.8.4
nltk==3.2.5
numpy==1.18.1
opt-einsum==3.1.0
overrides==1.9
pandas==0.23.1
passlib==1.7.1
protobuf==3.7.1
pycparser==2.19
pydantic==0.32.2
PyJWT==1.7.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404381.4453942
pyOpenSSL==18.0.0
pyrsistent==0.14.11
pyTelegramBotAPI==3.5.2
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.19.1
rusenttokenize==0.0.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.12.0
starlette==0.12.8
tensorboard==1.15.0
tensorflow==2.7.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.23.4
urllib3==1.23
uvicorn==0.9.0
uvloop==0.14.0
websockets==8.1
Werkzeug==0.15.2
wrapt==1.11.2
WTForms==2.2.1
