    <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
      <a class="navbar-brand" href="/">Chatbot Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
    {% if session.logged_in %}
          <li class="nav-item active">
            <a class="nav-link" href="/para/">Paragraph <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/key_values/">Key-Values <span class="sr-only">(current)</span></a>
          </li>
    {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if session.logged_in %}
            <li class="nav-item active">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>